<div class="item">
  <img src="http://images5.fanpop.com/image/photos/27700000/koala-windows-7-vista-and-xp-picks-27753235-500-375.jpg">
</div>
<div class="item">
  <img src="http://images5.fanpop.com/image/photos/27700000/jellyfish-windows-7-vista-and-xp-picks-27753183-500-375.jpg">
</div>
<div class="item">
  <img src="http://images5.fanpop.com/image/photos/27700000/Blue-Fish-windows-7-vista-and-xp-picks-27753169-500-313.jpg">
</div>
<div class="item">
  <img src="http://images5.fanpop.com/image/photos/27700000/ile001-windows-7-vista-and-xp-picks-27753139-500-375.jpg">
</div>
<div class="item">
  <img src="http://images5.fanpop.com/image/photos/27700000/hydrangeas-flower-windows-7-vista-and-xp-picks-27753129-500-375.jpg">
</div>
